 * {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}


.container{
    border: 2px solid black;
    height: 420px;
    width: 900px;
    position: relative;
} 

.stars{
    width: 400px; 
    height: 224px;
    float: left;
    background-color: blue;
    position: absolute;
}

.red {
    padding: 14px;
    border: 2px solid red;
    background-color: red;
   
}
.white {
    padding: 14px;
    border: 2px solid white;
    background-color: white;
}
